<img src="../../Host/share/image/logo/htde.png" width="777px"/><style>body{background:#7f7f7f;}</style>
<h1>| Copyright</h1>
<pre><code>
/*             2019               *\
|                                  |
|      http://desktop.by/me/       |
|  Hyper-Text Desktop Environment  |
|            <>[]{}()              |
|                                  |
\*           Xoftware             */
</code></pre>
<h1>| Licenses</h1>
<pre><code>
AL			Apache License						http://www.apache.org/licenses
BVL			Bitstream Vera License				https://www.gnome.org/fonts
UFL			Ubuntu Font License					https://ubuntu.com/legal/font-licence
OFL			Open Font License					https://scripts.sil.org/OFL
LPPL		LaTeX Project Public License		https://www.latex-project.org/lppl
LGPL		Lesser GNU Public License			https://www.gnu.org/licenses/lgpl-3.0.en.html
CCBY		Creative Commons By Attribute		https://creativecommons.org/licenses/by/3.0/us
</code></pre>
<h1>| Fonts</h1>
<pre><code>
All fonts included with the platform were converted from their original format 
into a conventional one necessary for hardware-accelerated rendering in 3D. 

(It is a gzipped tar archive that contains a signed-distance-field bitmap 
of the glyphs with a corresponding spritesheet.) The conversion software is 
Hiero [1], and this technique was pioneered by Valve [2] for 3D video games. 
[1]: https://github.com/libgdx/libgdx/wiki/Hiero
[2]: "SIGGRAPH2007_AlphaTestedMagnification.pdf"

The new fonts keep their respective licenses, but are renamed compliantly, 
and may be aliased as per convienence.
</code></pre>
<pre><code>
DERIVED FONT					ORIGINAL NAME				ORIGINAL LICENSE		ORIGINAL AUTHOR				ORIGINAL SOURCE

mono/Rendezvous.sdf				DejaVu Sans Mono			BVL/Public Domain		Linux?						http://dejavu-fonts.org
sans/Rendezvous.sdf				DejaVu Sans					.						.							.
serif/Rendezvous.sdf			DejaVu Serif				.						.							.
narrow/RendezvousSans.sdf		DejaVu Sans Condensed		.						.							.
narrow/RendezvousSerif.sdf		DejaVu Serif Condensed		.						.							.
	
mono/Prestidigital.sdf			Source Code Pro				OFL1.1					Adobe						https://github.com/adobe-fonts/source-code-pro
sans/Prestidigital.sdf			Source Sans Pro				.						.							.
serif/Prestidigital.sdf			Source Serif Pro			.						.							.
	
mono/Pareidolia.sdf				Nimbus Mono					LPPL1.3c				URW++						http://www.gust.org.pl/projects/e-foundry/tex-gyre
sans/Pareidolia.sdf				Nimbus Sans					.						.							.
serif/Pareidolia.sdf			Nimbus Roman				.						.							.
	
serif/Valedictorian.sdf			Century Schoolbook L		LPPL1.3c				URW++						http://www.gust.org.pl/projects/e-foundry/tex-gyre
serif/EraVictorian.sdf			Bookman L					.						.							.
sans/FlyingButtress.sdf			Gothic L					.						.							.
serif/Antiquity.sdf				Palladio L					.						.							.
cursive/Equity.sdf				Chancery L					.						.							.
	
mono/Whirlfire.sdf				Fira Code					OFL1.1					Mozilla						http://mozilla.github.io/Fira
sans/Whirlfire.sdf				Fira Sans					.						.							.
narrow/Whirlfire.sdf			Fira Sans Condensed			.						.							.

mono/LibreNation.sdf			Liberation 2 Mono			OFL1.1					Red Hat						https://pagure.io/liberation-fonts
sans/LibreNation.sdf			Liberation 2 Sans			.						.							.
serif/LibreNation.sdf			Liberation 2 Serif			.						.							.
narrow/LibreNation.sdf			Liberation 2 Narrow			.						.							.

mono/Mux.sdf					Plex Mono					OFL1.1					IBM							https://www.ibm.com/plex
sans/Mux.sdf					Plex Sans					.						.							.
serif/Mux.sdf					Plex Serif					.						.							.
narrow/Mux.sdf					Plex Sans Condensed			.						.							.

mono/Roadtrip.sdf				Overpass Mono				OFL1.1					US FHA						http://overpassfont.org
sans/Roadtrip.sdf				Overpass					.						.							.

mono/GoTo.sdf					Noto Mono					OFL1.1					Google						https://github.com/googlei18n/noto-fonts
sans/GoTo.sdf					Noto Sans					.						.							.
serif/GoTo.sdf					Noto Serif					.						.							.
narrow/GoTo.sdf					Noto Sans Mono				.						.							.

mono/Ubuntu.sdf					Ubuntu Mono					UFL						Ubuntu						???
sans/Ubuntu.sdf					Ubuntu						.						.							.
narrow/Ubuntu.sdf				Ubuntu Condensed			.						.							.	

icon/Adwaita1.sdf				Adwaita Icons Scalable		CC-BY-A3-US/LGPL3		GNOME						https://download.gnome.org/sources/adwaita-icon-theme
icon/Adwaita2.sdf				.							.						.							.

mono/Solomonic.sdf				Libertinus Mono				OFL1.1					???							https://github.com/alif-type/libertinus
sans/Solomonic.sdf				Libertinus Sans				.						.							.
serif/Solomonic.sdf				Libertinus Serif			.						.							.

mono/ComeWanderOn.sdf			Code New Roman				OFL1.1					???							???
Pinata-BashShellToBits.sdf		Inconsolata					OFL1.0					Raph Levien					http://www.levien.com/type/myfonts/ofl.html
sans/Roflmao.sdf				Lato Mono					OFL1.1					???							https://www.latofonts.com/lato-free-fonts
serif/YearOfGonzo.sdf			Courier 10 Pitch			???						???							???
serif/Figures.sdf				Alegreya					OFL1.1					Huerta Tipográfica			https://fonts.google.com/specimen/Alegreya

stencil/Partition.sdf			Plaster						OFL1.1					Sorkin Type					https://fonts.google.com/specimen/Plaster
stencil/EmboldenedOne.sdf		Emblema One					OFL1.1					R. De Franceschi			https://fonts.google.com/specimen/Emblema+One
sketch/SecretClub.sdf			Cabin Sketch				OFL1.1					Impallari Type				https://fonts.google.com/specimen/Cabin+Sketch
sketch/StudentUnion.sdf			Fredericka The Great		OFL1.1					Tart Workshop				https://fonts.google.com/specimen/Fredericka+the+Great
handwrit/FeltWrite.sdf			Permanent Marker			AL2.0					Font Diner					https://fonts.google.com/specimen/Permanent+Marker

bubble/Infatuation.sdf			Fascinate Inline			OFL1.1					Astigmatic					https://fonts.google.com/specimen/Fascinate+Inline
bubble/BlimpPilot.sdf			Modak						OFL1.1					Ek Type						https://fonts.google.com/specimen/Modak
block/BuckTooth.sdf				Bowlby One SC				OFL1.1					Vernon Adams				https://fonts.google.com/specimen/Bowlby+One+SC
block/DiamondAmongCoals.sdf		Kumar One					OFL1.1					Indian Type Foundry			https://fonts.google.com/specimen/Kumar+One

olde/YeVerily.sdf				Chomsky						OFL1.1					???							???
olde/UponATime.sdf				Unifraktur Maguntia			OFL1.1					j. 'mach' wust				https://fonts.google.com/specimen/UnifrakturMaguntia
olde/ParlayCodex.sdf			Pirata One					OFL1.1					Rodrigo Fuenzalida			https://fonts.google.com/specimen/Pirata+One

western/WagonWheels.sdf			Rye							OFL1.1					Nicole Fally				https://fonts.google.com/specimen/Rye
western/BarrelSpicket.sdf		Sancreek					OFL1.1					Vernon Adams				https://fonts.google.com/specimen/Sancreek
festive/CheckoutLine.sdf		Libre Barcode 128 Text		OFL1.1					Lasse Fister				https://fonts.google.com/specimen/Libre+Barcode+128+Text
festive/Bootstrapper.sdf		Ewert						OFL1.1					J. Kallas,M. Virkush		ttps://fonts.google.com/specimen/Ewert
festive/StripedRibbon.sdf		Monoton						OFL1.1					Vernon Adams				https://fonts.google.com/specimen/Monoton
festive/NorthernLights.sdf		Codystar					OFL1.1					Neapolitan					https://fonts.google.com/specimen/Codystar

sci-fi/EverTron.sdf				Audiowide					OFL1.1					Astigmatic					https://fonts.google.com/specimen/Audiowide
retro/BuzzerShot.sdf			LCD	14						OFL1.1					8Type						https://github.com/ctrlcctrlv/lcd-font
comic/MonkeySee.sdf				Happy Monkey				OFL1.1					Brenda Gallo				https://fonts.google.com/specimen/Happy+Monkey
comic/CitrusVibe.sdf			Sofadi One					OFL1.1					Botjo Nikoltchev			https://fonts.google.com/specimen/Sofadi+One

groovy/RockingFro.sdf			Spicy Rice					OFL1.1					Astigmatic					https://fonts.google.com/specimen/Spicy+Rice
spooky/EminentPanic.sdf			Stylish						OFL1.1					AsiaSoft Inc				https://fonts.google.com/specimen/Stylish
spooky/Gravengeance.sdf			Butcherman					OFL1.1					Typomondo					https://fonts.google.com/specimen/Butcherman
spooky/AbraCastle.sdf			Fontdiner Swanky			AL2.0					Font Diner					https://fonts.google.com/specimen/Fontdiner+Swanky
spooky/QuickSludge.sdf			Creepster					OFL1.1					Sideshow					https://fonts.google.com/specimen/Creepster
</code></pre>

	
