<div style="width:777px;font-family:Ubuntu;">
<img src="../../Host/share/image/logo/htde.png" width="777px"/><style>body{background:#7f7f7f}a{color:black}i{color:white}</style>
<h1>| Synopsis</h1>


<h3>Hyper-Text Desktop Environment</h3>


<h4>Name</h4>
<p>	
	The name HTDE is a concatenation of conventional prefix and suffix, ht and de. 
	<ul>
		<li>
			HT stands for Hypertext (as in http or html,) which is an extension of written language to format and connect 				
			information with media and hyperlinks, not unlike memories in your brain, and as such is the basis of the internet. 
		</li>
		<li>
			DE stands for Desktop Environment (as in KDE or GNOME or XFCE,) which is the software component of an operating system that 			
			provides the graphical user interface, not unlike tools on your desk, and as such is the basis of personal computers. 
		</li>
	</ul>
</p>
<p>
	The domain name desktop.by/me is a hack, similar to conventional .io for other tech websites.
	<ul>
		<li>
			<a href="https://desktop.by/me">https://desktop.by/me</a> 
			The homepage of HTDE where you can share modules and apps.
		</li>
		<li>
			<a href="https://desktop.by/@username">https://desktop.by/@username</a> 
			The portfolio of username with apps and stats.
		</li>
		<li>
			<a href="https://desktop.by/@username/appname">https://desktop.by/@username/appname</a>
			The repository of appname with media, wiki, etc.
		</li>
	</ul>
	To host an HTDE module or app, and portfolio, just prefix your git repo like htde-appname, and push it to github or gitlab. Then, navigate to desktop.by/@username/appname and it will be automatically generated. You will need to create and fill directories like wiki, demo, img, vid if you wish to populate it.
</p>

<h4>Uses</h4>
<p>	
	<i>It's your desktop.</i><br /><br />

	HTDE is a GUI platform, and can be used anywhere from panels and widgets to apps and games. 
	It has a MVC/DOM paradigm, like a web browser, but engineered from scratch 
	for efficient use in the desktop, rather than the web. It renders truly in 3D 
	on the graphics card, and has full access to system application calls. 
	Most critically, the architecture is transparent, and every component is modular. 
	The environment specifications are designed to be customized and extended. 
	<ul>
		<li>
			Developers can use the defaults, or define their own element types, style properties and respective shader functions, 
			controller events and respective listeners, and ajax request protocols and respective virtual hosts. 
		</li>
		<li>
			Developers can define their own, or natively support any syntax/flavor for the 
			stylesheets (such as CSS, SASS, LESS) and markup/markdown (such as XML, MD, JSON.)
		</li>
		<li>
			Developers can code the document in any scripting language (such as JS, PY) 
			on any engine (such as V8, Spidermonkey) and extend the DOM API in any way.
		</li>
	</ul>
</p>

<h4>Demo</h4>
<p>	
	The following examples
	<ul>
		<li>http://localhost:demo.ui/desktop
		</li>
		<li>http://localhost:demo.ui/game
		</li>
		<li>http://localhost:demo.ui/app
		</li>
	</ul>
</p>

<h4>Logo</h4>
<p>	
	The logo spells HTDE with the 4 literals
	<ul><li><table>
		<tr><td><> chevrons</td><td>[] brackets</td><td>{} braces</td><td>() parens</td></tr>
		<tr><td>node:</td><td>array</td><td>object</td><td>function</td></tr>
		<tr><td>type/id:</td><td>classes</td><td>attributes</td><td>listeners</td></tr>
		<tr><td>element:</td><td>view</td><td>model</td><td>controller</td></tr>
	</table></li></ul>
</p>

<h4>Icon</h4>
<p>	
	The icon is a hexagon, as is conventional with other software platforms, for it represents modularity. 
	<ul>
		<li>At the perfect angle, an orthogonal cube forms a hexagon, representing 3D graphics on a 2D desktop. 
			(It also represents the real/virtual metaphor, and hyperplane/hypertext.)</li>
		<li>At the perfect light, an orthogonal cube forms 3 shades; black, white and grey, representing MVC. 
			(It also represents interdependent pipelines, and the chevron of an element.)</li>
	</ul>
</p>


<h3>Architecture</h3>


<h4>Platform vs Toolkit</h4>
<p>	
	Platform vs Toolkit
</p>
<h4>Composition vs Inheritance</h4>
<p>	
	(polymorphic fs)
</p>
<h4>Browser vs Server</h4>
<p>	
	(negative space)
</p>
<h4>Game Engine vs GUI Engine</h4>
<p>	
	(frame/event, resources, logic)
</p>
<h4>Sync vs Async</h4>
<p>	
	(event driven)
</p>

<hr />

<h4>Environment</h4>
<p>	
	(lib, sys, env, app, mod)
</p>
<h4>Document</h4>
<p>	
	MVC
</p>
<h4>Element</h4>
<p>	
	MVC
</p>
<h4>Entity</h4>
<p>	
	MVC
</p>
<h4>Host</h4>
<p>	
	(proto, alias, router, bridge)
</p>



<h1>| Analysis</h1>
<pre><code>
	Theory
	Philosophy
	Paradigms
	Diagrams
	Methodologies
	Technologies
	Dependencies
</code></pre>



<h1>| Thesis</h1>
<pre><code>
	Intentions
	Purposes
	Motivations
	Acknowledgements
</code></pre>
</div>
